<!DOCTYPE html>
<html lang="es">
<head>
    <!-- METADATOS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- STYLES -->
    <link rel="stylesheet" href="../css/reward.css">
    <!-- GENERAL -->
    <title>REWARD</title>
</head>
<body>


    <!-- AQUI ESTA EL COMPONENTE PA👇🏻👇🏻👇🏻👇🏻 -->
     <article class="reward">
        <img class="reward_stella" src="../img/coin.png" alt="">
        <div class="reward_flex">
            <div class="reward_input">
                <p class="reward_text">TREASURE CHEST</p>
            </div>
            <img class="reward_exit" src="../img/coin.png" alt=""> <!-- AQUI ME FALTO LA IMAGEN DE LA X -->
        </div>
        <img class="reward_image" src="../img/Chest.png" alt="">
        <button class="reward_button">OPEN</button>
     </article>


</body>
</html>