<!DOCTYPE html>
<html lang="es">
<head>
    <!-- METADATOS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- STYLES -->
    <link rel="stylesheet" href="../css/rewards.css">
    <!-- GENERAL -->
    <title>Rewards</title>
</head>
<body>
    
    <!-- ESTE ES EL COMPONENTE PA 👇🏻👇🏻👇🏻👇🏻👇🏻 -->
    <section class="rewards">

        <div class="rewards_container">
            <img class="rewards_assetTitle" src="../img/Store Title Frame.png" alt="">
            <h2 class="rewards_title">REWARDS</h2>
        </div>

         <div class="rewards_containerItems">
            <!-- REWARD-ITEM -->
            <article class="rewardItem">
                <img class="rewardItem_image" src="../img/WheelofFortune_UI_Rewards.png" alt="">
                <p class="rewardItem_name">Mini Carrot</p>
                <button class="rewardItem_button">
                    OPEN
                </button>
            </article>
            <!-- REWARD-ITEM -->
            <article class="rewardItem">
                <img class="rewardItem_image" src="../img/Chest.png" alt="">
                <p class="rewardItem_name">Mini Carrot</p>
                <button class="rewardItem_button">
                    OPEN
                </button>
            </article>
            <!-- REWARD-ITEM -->
            <article class="rewardItem">
                <img class="rewardItem_image" src="../img/Cookie.png" alt="">
                <p class="rewardItem_name">Mini Carrot</p>
                <button class="rewardItem_button">
                    OPEN
                </button>
            </article>
         </div>

    </section>


</body>
</html>