<!DOCTYPE html>
<html lang="es">
<head>
    <!-- METADATOS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- STYLES -->
    <link rel="stylesheet" href="../css/shop.css">
    <!-- GENERAL -->
    <title>Shop</title>
</head>
<body>
    
    <section class="shop">

        <div class="shop_container">
            <img class="shop_assetTitle" src="../img/Store Title Frame.png" alt="">
            <h2 class="shop_title">PET STORE</h2>
        </div>

        <nav class="shop_flex">
            <!-- BUTTON -->
            <div class="shop_navButton">
                <p class="shop_navDescription">Food</p>
            </div>
            <!-- BUTTON -->
            <div class="shop_navButton">
                <p class="shop_navDescription">Medicine</p>
            </div>
        </nav>

        <div class="shop_containerItems">
            <!-- SHOP-ITEM -->
            <article class="shopItem">
                <img class="shopItem_image" src="../img/Example.png" alt="">
                <p class="shopItem_name">Mini Carrot</p>
                <button class="shopItem_button">
                    <img class="shopItem_coin" src="../img/coin.png" alt="">
                    45
                </button>
            </article>
            <!-- SHOP-ITEM -->
            <article class="shopItem">
                <img class="shopItem_image" src="../img/Example.png" alt="">
                <p class="shopItem_name">Mini Carrot</p>
                <button class="shopItem_button">
                    <img class="shopItem_coin" src="../img/coin.png" alt="">
                    45
                </button>
            </article>
            <!-- SHOP-ITEM -->
            <article class="shopItem">
                <img class="shopItem_image" src="../img/Example.png" alt="">
                <p class="shopItem_name">Mini Carrot</p>
                <button class="shopItem_button">
                    <img class="shopItem_coin" src="../img/coin.png" alt="">
                    45
                </button>
            </article>
            <!-- SHOP-ITEM -->
            <article class="shopItem">
                <img class="shopItem_image" src="../img/Example.png" alt="">
                <p class="shopItem_name">Mini Carrot</p>
                <button class="shopItem_button">
                    <img class="shopItem_coin" src="../img/coin.png" alt="">
                    45
                </button>
            </article>
            <!-- SHOP-ITEM -->
            <article class="shopItem">
                <img class="shopItem_image" src="../img/Example.png" alt="">
                <p class="shopItem_name">Mini Carrot</p>
                <button class="shopItem_button">
                    <img class="shopItem_coin" src="../img/coin.png" alt="">
                    45
                </button>
            </article>
            <!-- SHOP-ITEM -->
            <article class="shopItem">
                <img class="shopItem_image" src="../img/Example.png" alt="">
                <p class="shopItem_name">Mini Carrot</p>
                <button class="shopItem_button">
                    <img class="shopItem_coin" src="../img/coin.png" alt="">
                    45
                </button>
            </article>
           
        </div>

      <!--   <div class="intructions">
            <p class="intructions_title">Buble Tea</p>
            <p class="intructions_description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, dignissimos!</p>
        </div>
 -->
    </section>


</body>
</html>